# For Loops

In [1]:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

2
3
5
7

In [2]:
# Prints out the numbers 0,1,2,3,4
for x in range(5):
    print(x)

0
1
2
3
4

In [ ]:
# Prints out 3,4,5
for x in range(3, 6):
    print(x)

3
4
5

In [ ]:
# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x)

3
5
7

# While Loops

In [ ]:
# Prints out 0,1,2,3,4

count = 0
while count < 5:
    print(count)
    count += 1  # This is the same as count = count + 1

0
1
2
3
4

In [ ]:
stringphone = '1234567890'
stringphone[6:]

'7890'

# Break/Continue Statements

In [ ]:
# Prints out 0,1,2,3,4

count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

In [ ]:
# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

# Else Clause

In [ ]:
# Prints out 0,1,2,3,4 and then it prints "count value reached 5"

count=0
while(count<5):
    print(count)
    count +=1
else:
    print("count value reached %d" %(count))

0
1
2
3
4
count value reached 5

In [ ]:
# Prints out 1,2,3,4
for i in range(1, 10):
    if(i%5==0):
        break
    print(i)
else:
    print("this is not printed because for loop is terminated because of break but not due to fail in condition")

1
2
3
4

# Enumerate for loop

In [ ]:
for index, number in enumerate(primes):
    print(primes[index])

2
3
5
7

In [ ]:
for index, number in enumerate(primes):
    print(index)

0
1
2
3